body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 600;
    background-color: #d1d3f8;;
    background-image: url(../img/bannersobre3.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* NAVBAR */
a {
    text-decoration: none;
    color: white;
}

.container {
    /* height: 100px; */
    width: 90%;
    margin: auto;
}

a:hover {
    font-weight: 900;
    color: gray;
}

.navbar {
    height: 90px;  
    background-color: black;
}

.navbar .container div{
    float: left;
    margin-top: 10px;
}

.navbar img {
    width: 150px;
}

.navbar ul {
    float: right;
}

.navbar li{
    font-weight: 500;
    font-size: 20px;
    float: left;
    list-style: none;
    margin-left: 70px;
    margin-top: 15px;
    color: rgb(249, 250, 249);
}

.btn{
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    border: 1px white solid;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: background 0.5s;
}

.btn:hover{
    color: black;
    background-color: white;
}
/* END NAVBAR */
/* HISTORIA */
.historia {
    height: 770px;
    /* background-color: rgb(43, 45, 68); */
    text-align: center;
}

.box_historia {
    padding-top: 20px;
    padding-right: 2%;
    padding-left: 2%;
    /* display: flex; */
    width: 96%;
    height: 750px;
    font-size: 17px;
    background-color: rgba(54, 50, 63, 0.534);
    /* border-radius: 10px; */
    align-items: center;
    text-align: justify;
    color: white;
}
h1{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    color: black;
}
.box_historia img{
    /* margin: 20px; */
    /* padding-left: 20px; */
    width: 700px;
    height: 400px;
    border-radius: 3px;
    margin-left: 350px;
    background-color: #d1d3f8;
}
/* END HISTORIA */


/* PERSONAGENS */

.item_personagens {
    height: 2100px;
}
.box_personagem {
    padding-top: 40px;
    padding-right: 2%;
    padding-left: 2%;
    /* display: flex; */
    width: 96%;
    height: 2100px;
    color: white;
    background-color: rgba(54, 50, 63, 0.534);
    text-align: justify;
}
.box_personagem h2 {
    color: black;

}
.box_personagem div {
    display: flex;
    float: left;
    width: 46%;
    /* height: 600px; */
    padding: 2%;
    /* background-color: rgba(255, 255, 255, 0.404); */
}
.box_personagem b {
    color: black;
}
.box_personagem img {
    cursor: pointer;
}
/* END PERSONAGENS */
/* FOOTER */
.footer {
    height: 80px;
    margin: 0;
    text-align: center;
    color: white;
    /* border: 1px white solid; */
    background-color: black;
}

.footer h2{
    margin: 0;
    padding-top: 30px;
    font-size: 15px;
}
/* END FOOTER */