body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #363636;
    background-image: url(././img/banner-anime.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color:transparent;
    color: #DAA520;
    height: 100px;
    margin: 0;
    display: flex;
}

.subnavbar div {
    float: left;
}

.navbar div img{
    width: 60px;
    margin: 10px;
}

.content h1{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 70px;
    
}
.content div select{
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    margin: 5px;
}
.content button{
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    width: 200px;
    height: 50px;
    margin: 5px;
}



select {

}

/* option {
    background-color: transparent;
    border-color: transparent;
} */

