body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* NAVBAR */
.navbar {
    background-color: black;
    height: 90px;  
}

.navbar .container div{
    float: left;
    margin-top: 10px;
}

.navbar img {
    width: 150px;
}

.navbar ul {
    float: right;
}

.navbar li{
    font-weight: 850;
    font-size: 20px;
    color: rgb(249, 250, 249);
    float: left;
    list-style: none;
    margin-left: 70px;
    margin-top: 15px;
}
/* END NAVBAR */

.container {
    height: 100px;
    width: 90%;
    margin: auto;
}

/* BANNER */
.banner {
    height: 700px;
    background-image: url(../img/bannerHOME.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d1d3f8;
}

.banner .frase_banner {
    color: rgb(255, 255, 255);
    text-align: center;
}

.banner .frase_banner div {
    padding-top: 230px;
}

.banner .frase_banner h1 {
    margin: 0%;
    font-size: 70px;
    margin-bottom: 15px;
}

.banner .frase_banner span {
    font-weight: 600;
    font-size: 20px;
}
/* END BANNER */

.divisao_banner{
    height: 50px;
    background-color: #000000;
}

/* INFO */
/* .info_site {
    background-color: rgb(56, 55, 55);
    height: 500px;
} */




/* END INFO */